.taskbar{
    width: 100%;
    display: flex;
    padding-top: 25px;
}

.logo{
    display: flex;
    align-items: center;  

}


.tasks{
  
  display: flex;
  align-items: center;  
  margin: 0 auto;
  width: 100%;
 
  
}


.socialMedia{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.tasks p{
  margin: 15px;
  font-size: 25px;
  color: white;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.taskbar p:hover{
    cursor: pointer;
    text-decoration: underline;
}